@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>
        Contoso University </h1>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h2>
                    Bienvenido a Contoso University </h2>
                    <p>
                        Contoso University es una aplicación de ejemplo que
                        se muestra cómo utilizar Entity Framework 6 en una
                        ASP.NET MVC aplicación Web 5. </P>
                        </div>
                        <div class="col-md-4">
                            <h2> construirlo desde cero </h2>
                    <p> Usted puede crear la aplicación, siguiendo el pasos en la serie de tutoriales en el sitio ASP.NET. </p>
                    <p>
                        <a class="btn btn-default" href="http://www.asp.net/mvc/tutorials/getting-started- con-ef-usando-mvc / "> Vea el tutorial & raquo; </a> </p>
                        </div>
                        <div class="col-md-4">
                            <h2> Descárgalo </h2>
                    <p> puede descargar el proyecto completo desde la galería de código de Microsoft. </p>
                    <p>
                        <a class="btn btn-default" href="http://code.msdn.microsoft.com/ASPNET-MVC-Application -b01a9fe8 "> Descargar & raquo; </a> </p>
                        </div>
                        </div>
